In [0]:
# Pandas를 pd로 import합니다
import pandas as pd

# DataFrame 데이터입니다
data = {"fruits": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "year": [2001, 2002, 2001, 2008, 2006],
        "time": [1, 4, 5, 6, 3]}
df = pd.DataFrame(data)
print(df)

       fruits  time  year
0       apple     1  2001
1      orange     4  2002
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006

In [0]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index) #pandas의 Series는 1차원 배열과 같은 자료구조
series2 = pd.Series(data2, index=index)
df = pd.DataFrame([series1, series2])

# df의 인덱스가 1부터 시작하도록 설정하세요
df.index = [1, 2]

# 출력합니다
print(df)

   apple  orange  banana  strawberry  kiwifruit
1     10       5       8          12          3
2     30      25      12          10          8

In [0]:
import pandas as pd
data = {"fruits": ["apple", "orange", "banana", "strawberry", "kiwifruit"],
        "time": [1, 4, 5, 6, 3],
        "year": [2001, 2002, 2001, 2008, 2006]}
df = pd.DataFrame(data)

# drop()을 이용하여 df의 0,1행을 삭제합니다
df_1 = df.drop(range(0, 2))

# drop()을 이용하여 df의 열 "year"를 제거합니다
df_2 = df.drop("year", axis=1)

print(df_1)
print()
print(df_2)

       fruits  time  year
2      banana     5  2001
3  strawberry     6  2008
4   kiwifruit     3  2006

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

In [0]:
import pandas as pd

index = ["Kim", "Lee", "Park", "Hong", "Han"]
columns = ["C", "Python", "Java", "Android", "C#"]
data = [[30, 45, 12, 45, 87], [65, 47, 83, 17, 58], [64, 63, 86, 57, 46,], [38, 47, 62, 91, 63], [65, 36, 85, 94, 36]]
df = pd.DataFrame(data, index=index, columns=columns)

# df에 "Web"이라는 새 열을 만들어 pe_column의 데이터를 추가하세요
pe_column = pd.Series([56, 43, 73, 82, 62], index=["Kim", "Lee", "Park", "Hong", "Han"])
df["Web"] = pe_column
print(df)
print()

# Python을 오름차순으로 정렬합니다
df1 = df.sort_values(by="Python", ascending=True)
print(df1)
print()

# df1의 각 요소에 5점을 더하세요
df2 = df1 + 5
print(df2)
print()

# df의 통계 정보 중에서 "mean", "max", "min"을 출력하세요
print(df2.describe().loc[["mean", "max", "min"]])

       C  Python  Java  Android  C#  Web
Kim   30      45    12       45  87   56
Lee   65      47    83       17  58   43
Park  64      63    86       57  46   73
Hong  38      47    62       91  63   82
Han   65      36    85       94  36   62

       C  Python  Java  Android  C#  Web
Han   65      36    85       94  36   62
Kim   30      45    12       45  87   56
Lee   65      47    83       17  58   43
Hong  38      47    62       91  63   82
Park  64      63    86       57  46   73

       C  Python  Java  Android  C#  Web
Han   70      41    90       99  41   67
Kim   35      50    17       50  92   61
Lee   70      52    88       22  63   48
Hong  43      52    67       96  68   87
Park  69      68    91       62  51   78

         C  Python  Java  Android    C#   Web
mean  57.4    52.6  70.6     65.8  63.0  68.2
max   70.0    68.0  91.0     99.0  92.0  87.0
min   35.0    41.0  17.0     22.0  41.0  48.0